<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        
   <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run composer require symfony/webpack-encore-bundle
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <!-- Bootstrap core CSS -->


         <!-- Custom styles for this template -->
    {# <link href="{{ asset('carousel.css') }}" rel="stylesheet"> #}
        {% endblock %}
         
  
    </head>
    <body> 
    {# {% block nav %}{{render(controller('App\\Controller\\JobController:menu'))}}  {% endblock %} #}
    {% block sidebar %}{{render(controller('App\\Controller\\JobController:menu'))}}  {% endblock %}
        {% block body %}{% endblock %}
    </body>
    <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
     {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
                 {% endblock %}
</html>

